*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(/projeler/durum.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 410px;
}
.content{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #4e25b4;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 8%;
    display: block;
}
.content:hover{
    cursor: pointer;
}
.bolum{
    width: 500px;
    height: 100px;
    background-color: #f2eaea;
}
#konum{
    font-size: 60px;
    float: left;
    margin-top: 20px;
    margin-left: 16px;
    color: #4e25b4;
    transition: 1s;
}
#konum:hover{
    color: #7c5ec5;
}
#arama{
    width: 400px;
    margin-top: 45px;
    margin-left: -30px;
    position: relative;
}
h3{
    margin-top: 15px;
    font-size: 25px;
    color: #fff;
}
p{
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}
#rain{
    display: block;
    margin-top: 25px;
    font-size: 130px;
    color: #f2eaea;
    transition: 1s;
}
#rain:hover{
    color: #f7aaaa;
}
h2{
    color:#fff;
    margin-top: 25px;
    font-size: 15px;
    float: right;
    margin-right: 8px;
    border: 2px solid #150342;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;
}
h2:hover{
    color: #150342;
    background-color: #fff;
}

  
  
  
  
  
  
  
  


